body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #131e29;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #131e29;
  color: #fafafa;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  font-size: x-large;
  color: #fafafa;
  margin-right: 20px;
  text-transform: capitalize;
}

.order-button {
  background-color: #ff6347;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

section {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #ff6347;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
  appearance: none;
  background: transparent url("https://img.icons8.com/android/24/000000/down.png") no-repeat right center;
  background-size: 12px;
  background-position-x: 95%;
}

button {
  background-color: #ff6347;
  color: #fafafa;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

p {
  margin: 10px 0;
}

.form div {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}