body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #131e29;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  /* Set a background color for sections */
}

.emphasize {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-button {
  width: 12rem;
  align-items: center;
  justify-content: center;
}

.red {
  color: #ff6347;
}

header {
  background-color: #131e29;
  color: #fafafa;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  font-size: x-large;
  color: #fafafa;
  margin-right: 20px;
  text-transform: capitalize;
}

.order-button {
  background-color: #ff6347;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.order-button {
  background-color: #ff6347;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.book-gallery {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #ff6347;
}

.books-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book {
  flex-basis: calc(33.3333% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.book-button {
  background-color: #ff6347;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button {
  background-color: #ff6347;
  color: #fafafa;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Media Queries */
@media only screen and (min-width: 900px) {
  .book {
    flex-basis: calc(25% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  .book {
    flex-basis: calc(33.3333% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .book {
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (max-width: 400px) {
  .book {
    flex-basis: calc(100% - 20px);
  }
}